INWORLD_API_KEY=SkxEdzJPd1ZhbFRlbU1OZFNRb3hCNEdrVWE4UVdMa3E6SzNFOVptOU5KRXZaSW83bTM3UTU0Zg==
INWORLD_VOICE_ID=Abby
INWORLD_MODEL_ID=inworld-tts-2
PREWARM_TTS_CACHE=false
VITE_ML_API_URL=https://bloomy-backend-rx1r.onrender.com
GEMINI_API_KEY=AQ.Ab8RN6JtkyMBKi2Kp4IJNpFOs-BQVKzBgVdFdBNJ8L1btGYhRg
